<h1>Goodbye!</h1>
<h2>It was nice having you here</h2>
<%= link_to "Say Hello",say_hello_path %>
addition <%= 1+2 %><br> 
<%="cow" + "boy"%><br> 
<%= 1.hour.from_now %><br>
Time now:<%= @time %>
<p>Find me in app/views/say/goodbye.html.erb</p>
