<% if notice%>
<p id="notice"><%= notice%></p>
<% end %>

<h1>The Catalog</h1>
<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %><!-- creates an img tag using product.image_url as the source -->
		<h3><%= product.title %></h3>
		<%= sanitize(product.description) %> <!-- allows tags to be placed in the description and thus make it better html friendly-->
		<div class="price_line">
			<span class="price"><%= sprintf("$%0.02f",product.price) %></span>
			<%= button_to 'Add to Cart',line_items_path(:product_id => product) %>
	</div>
<% end%>
<p>The counter is<%@count%></p>
<p>Find me in app/views/store/index.html.erb</p>
